html{
    background-color: bisque;
}    
h3{
    background-color: aliceblue;
    text-align: center;
    justify-content: center;
    border-radius: 20%;
}
.para{
    background-color: aliceblue;
    justify-content: center;
    text-align: center;
}
button{
 width: fit-content;
 margin: 0 auto; 
}